/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.justify-content-between {
    justify-content: space-between;
}

#debug * {
    border: 1px dashed;
}

.py4 {
    padding: 2rem 2rem;
}

.conteiner {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.wave {
    opacity: 0.05;
}

/* #endregion common */

/* #region header */

#app_header {
    background-color: #3161e0;
    padding: 1rem 0;
}

.logo,
.login {
    flex-grow: 1
}

.menu {
    flex-grow: 2;
    text-align: center;
    justify-content: space-between;
    margin-right: 10rem;
    color: white;
}

.login {

    background-color: white;
    padding: 7px;
    border-radius: 20px;
}

.c_head {
    align-items: center;
}

/* #endregion header */

/* #region main */
.download {
    text-align: center;
    margin: 0;

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white
    }
}

.jumbo {
    max-width: 1920px;
}

div[class^=top_link] {
    justify-content: space-around;
    padding: 1rem;
    border-radius: 3rem;

    .top_link_1 {
        background-color: white;
        color: black;
    }

    .top_link_2 {
        background-color: black;
    }
}

/* #region talking_space */
.talking_space_c {
    padding: 8rem 0;

    .talking_space {
        width: 25%;
    }

    .talking_space_img {
        width: 50%;
    }
}


/* #endregion talking_space */

/* #region find_others */
.find_others_c {
    padding: 8rem 0;

    .find_others_img {
        width: 50%;
    }

    .find_others {
        width: 25%;
    }
}
/* #endregion find_others */

/* #region fandom */
.fandom_c {
    padding: 8rem 0;

    .fandom {
        width: 25%;
    }

    .fandom_img {
        width: 50%;
    }
}
/* #endregion fandom */

/* #region keeping_contact */
.keeping_contact{
    padding-top: 8rem 0;
    text-align: center;
}
/* #endregion keeping_contact */

/* #region start */
.start{
    text-align: center;
    .start_button{
        color: white;
        background-color: #8ea1e1;
        display: inline-block;
        padding: 10px;
        border-radius: 20px;
    }
}
/* #endregion start */

/* #endregion main */

/* #region footer */
#app_footer {
    .bottom {
        padding: 1rem 0;
    }
}

.col-4 {
    width: calc((100% / 12) * 4);
}

/* #endregion footer */